<div class="ekart-product-container">
  <img [src]="product.pImage" />

  <p>Name :{{ product.name }}</p>
  <p>Price :{{ "$" + product.price }}</p>
  <p>Color : {{ product.color }}</p>
  <p>Discount :{{ getDiscount().toFixed(2) }}</p>
  <p>
    {{
      product.inStock > 0
        ? "only  " + product.inStock + " items left"
        : "Not in stock"
    }}
  </p>
  <button [disabled]="!(product.inStock > 0)">Buy Now</button>
  <!-- <input bind-placeholder="name" (input)="onEventChange($event)" />
  {{ name }} -->
  <button (click)="reduceOne()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="addOne()">+</button>
</div>
